@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.cards {
  width: 100%;
  columns: 356px 10;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #e9e8e6 !important;
  border-radius: 50%;
}

.carousel-caption {
  background: rgba(57, 57, 57, 0.5);
}

.modal-backdrop {
  opacity: 0.9 !important;
}

.portfolio-wrap {
  background: transparent !important;
}

/* Glassmorphism modal backdrop */
.modal-backdrop.show {
  background-color: rgba(255, 255, 255, 0.15); /* light tint */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
}

/* Optional: smooth fade */
.modal.fade .modal-dialog {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}
